@use "./variables" as *;

* {
  box-sizing: border-box;
  line-height: 1.3;
}

html {
  font-size: 10.5pt;
}

body {
  font-family: "Lato", sans-serif;
  width: 8.5in;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;

  & + p {
    text-align: center;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.5rem 0 0 0;
  border-bottom: 2pt solid $color-foreground;

  & + ul {
    margin: 0.75rem 0 0 0;
  }
}

p > strong {
  font-weight: 900;
}

p:has(strong) + p {
  font-weight: 700;
}

a {
  color: $color-foreground;
}

ul {
  padding: 0 0 0 1rem;
  list-style-type: square;

  li {
    &::marker {
      font-weight: 900;
      content: "- ";
    }
  }
}
