@use "./variables" as *;

* {
  line-height: 1.3;
}

body {
  padding-top: 0.35in; // takes off slight padding on top for visual weight
}

// main title styles
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;

  & + p {
    text-align: center; // centers contact line
    margin: 0 0 0.5rem 0; // adds space before/after contact line
  }
}

// section title styles
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0; // space between sections and space between heading and start of section
  border-bottom: 2pt solid $color-foreground; // border to separate sections
}

// sub-section title styles
h3 {
  font-size: 1rem;
  font-weight: 900;
}

// changes link to always be text color
a {
  color: $color-foreground;
}

// adds space between sub-sections inside of each section
ul + div h3 {
  margin: 0.5rem 0 0 0;
}
