@use "./reset";
@use "./fonts";
@use "./variables" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 11pt;
}

body {
  font-family: "Lato", sans-serif;
  width: 8.5in;
  margin: 0 auto;
  padding: 0.5in;
}

ul {
  // adds padding to the left of list item to account for custom marker
  padding: 0 0 0 1rem;

  // uses custom list item marker
  li {
    &::marker {
      font-weight: 900;
      content: "- ";
    }
  }
}
